<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.sharinglife.mapper.CommentMapper" >

    <sql id="trim_field">
        <trim suffixOverrides=",">
            <if test="pId != null">pid,</if>
            <if test="ownerUserId != null">owneruserid,</if>
            <if test="userId != null">userid,</if>
            <if test="content != null">content,</if>
            <if test="deleted != null">deleted,</if>
        </trim>
    </sql>
    <sql id="trim_data">
        <trim suffixOverrides=",">
            <if test="pId != null">#{pId},</if>
            <if test="ownerUserId != null">#{ownerUserId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
    </sql>

    <insert id="addCommentArticle" parameterType="comment">
        INSERT INTO comment_article (
        <if test="iid != null">articleid,</if>
        <include refid="trim_field"/>
        )
        VALUES (
        <if test="iid != null">#{iid},</if>
        <include refid="trim_data"/>
        )
    </insert>

    <insert id="addCommentPicture" parameterType="comment">
        INSERT INTO comment_picture (
        <if test="iid != null">pictureid,</if>
        <include refid="trim_field"/>
        )
        VALUES (
        <if test="iid != null">#{iid},</if>
        <include refid="trim_data"/>
        )
    </insert>

    <insert id="addCommentVideo" parameterType="comment">
        INSERT INTO comment_video (
        <if test="iid != null">videoid,</if>
        <include refid="trim_field"/>
        )
        VALUES (
        <if test="iid != null">#{iid},</if>
        <include refid="trim_data"/>
        )
    </insert>

    <update id="deleteCommentArticle" parameterType="integer">
        UPDATE comment_article SET deleted = 1 WHERE id = #{commentId}
    </update>

    <update id="deleteCommentPicture" parameterType="integer">
        UPDATE comment_picture SET deleted = 1 WHERE id = #{commentId}
    </update>

    <update id="deleteCommentVideo" parameterType="integer">
        UPDATE comment_video SET deleted = 1 WHERE id = #{commentId}
    </update>
</mapper>