<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.sharinglife.mapper.UserMapper" >

    <sql id="trim_field">
        <trim suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="password != null">password,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="motto != null">motto,</if>
            <if test="avatarUrl != null">avatarurl,</if>
            <if test="lastLoginIp != null">lastloginip,</if>
        </trim>
    </sql>
    <sql id="trim_data">
        <trim suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="password != null">#{password},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="motto != null">#{motto},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            <if test="lastLoginIp != null">#{lastLoginIp},</if>
        </trim>
    </sql>

    <sql id="follower_user">
        u.id, u.name, u.type, u.motto, u.avatarurl
    </sql>

    <sql id="base_user">
        id, name, type, motto, phone, sharecoin, avatarurl
    </sql>

    <select id="getAllUsers" resultType="user">
        SELECT <include refid="base_user"/>
         FROM user
    </select>

    <insert id="addUser" parameterType="user" keyProperty="userId">
        INSERT INTO user (
        <include refid="trim_field"/>
        )
        VALUES (
        <include refid="trim_data"/>
        )
    </insert>

    <delete id="delete">
        DELETE FROM user
    </delete>

    <select id="getUserById" resultType="user">
        SELECT <include refid="base_user"/>
        FROM user WHERE id = #{id} Limit 1
    </select>

    <select id="getUserByLoginData" resultType="user">
        SELECT <include refid="base_user"/>
        FROM user
        <where>
            phone=#{phoneOrName} OR name=#{phoneOrName}
        </where>
        limit 1
    </select>

    <update id="updateUser" parameterType="user">
        UPDATE user
        <set>
            <trim suffixOverrides=",">
                <if test="name != null">name = #{name},</if>
                <if test="password != null">password = #{password},</if>
                <if test="phone != null">phone = #{phone},</if>
                <if test="email != null">email = #{email},</if>
                <if test="motto != null">motto = #{motto},</if>
                <if test="avatarUrl != null">avatarurl = #{avatarUrl},</if>
                <if test="lastLoginIp != null">lastloginip = #{lastLoginIp},</if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateAvatarUrl">
        UPDATE user
        SET avatarurl = #{avatarUrl}
        WHERE id = #{id}
    </update>

    <select id="isExistPho" resultType="boolean">
        SELECT EXISTS (
        SELECT phone
        FROM user
        WHERE phone = #{phone}
        )
    </select>

    <select id="isExistName" resultType="boolean">
        SELECT EXISTS (
        SELECT name
        FROM user
        WHERE name = #{name}
        )
    </select>

    <select id="isExistFollower" resultType="boolean">
        SELECT EXISTS (
        SELECT *
        FROM user_follower
        WHERE
        userid = #{userId}
        AND
        followerid = #{followerId}
        AND delete = 0
        )
    </select>

    <select id="followToMeUsers">
        SELECT
        <include refid="follower_user"/>
        FROM user u
        INNER JOIN user_follower uf
        ON u.id = uf.userid
        <where>
            uf.followerid = #{id}
        </where>
        AND delete = 0
    </select>

    <select id="myFollowUsers">
        SELECT
        <include refid="follower_user"/>
        FROM user u
        INNER JOIN user_follower uf
        ON u.id = uf.followerid
        <where>
            uf.userid = #{id}
        </where>
        AND delete = 0
    </select>

    <insert id="addMyFollower">
        INSERT INTO user_follower (userid, followerid)
        VALUES (#{userId}, #{followerId})
        ON DUPLICATE KEY UPDATE delete = 0
    </insert>

    <update id="deleteFollower">
        UPDATE user_follower
        SET delete = 1
        WHERE
        userid = #{userId}
        AND
        followerid = #{followerId}
    </update>
</mapper>